<!--footer-->
<footer class="footer-main" id="js-contacts">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="logo">
          <img src="assets/i/logo.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-main__text">
          <p>Dom-marsel.ru - официальный сайт партнера ЖК "Марсель" в Новосибирске</p>
          <small>Отправляя любую форму на сайте вы соглашаетесь с политикой конфидициальности</small>
        </div>
      </div>
      <div class="col-md-3">
        <div class="phone">
          <span>8 (383)</span> 211-19-94
        </div>
        <!-- /.phone -->
        <div class="request">
          <a href="#" class="btn btn__green">Заказать звонок</a>
        </div>
        <!-- /.request -->
      </div>
    </div>
  </div>

  <!-- up -->
  <div class="up" id="js-up">
    <i class="fa fa-arrow-up"></i>
  </div> 
</footer>

<!--[if lt IE 9]>
<script src="assets/libs/html5shiv/es5-shim.min.js"></script>
	<script src="assets/libs/html5shiv/html5shiv.min.js"></script>
	<script src="assets/libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="assets/libs/html5shiv/respond.min.js"></script>
[endif]-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="assets/libs/jquery-migrate/jquery-migrate.min.js"></script>
<script src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js"></script>
<script src="assets/libs/slick/slick.min.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>
