<!doctype html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="something"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Some title</title>
</head>
<body>
  <header class="header-main">
    <div class="header-top">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-3 col-md-4">
            <div class="logo">
              <img src="assets/i/logo.jpg" alt="">
            </div>
            <!-- /.logo -->
          </div>
          <!-- /.col-lg-3 -->
          <div class="col-lg-5 col-md-8">
            <ul class="menu">
              <li><a href="#">Главная</a></li>
              <li><a href="#">Квартиры</a></li>
              <li><a href="#">Застройщик</a></li>
              <li><a href="#">Ипотека</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
            <!-- /.menu -->
          </div>
          <!-- /.col-lg-5 -->
          <div class="col-lg-4 col-md-12">
            <div class="header-top_right">
              <div class="phone">
                <span>8 (383)</span> 211-19-94
              </div>
              <!-- /.phone -->
              <div class="request">
                <a href="#" class="btn btn__green">Заказать звонок</a>
              </div>
              <!-- /.request -->
            </div></div>
            <!-- /.col-lg-4 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
    </header>