@import "../../../bower_components/normalize-less/normalize.less";
@import (less) "../libs/bootstrap/css/bootstrap.min.css";
@import "../libs/slick/slick.less";
@import "partials/variables.less";
@import "partials/mixins.less";
@import "partials/fonts.less";
@import "partials/icomoon.less";


html,
body {
  font-size: 15px;
}

body {
  font-size: 1rem;
  .latoRegular;
  color: @text-color;
  background: @white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}

h1 {
  .lato-Heavy;
  font-size: 2.5em;
}

h2 {
  margin-top: 60px;
  margin-bottom: 55px;
  .lato-Heavy;
  font-size: 2.1em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  &:hover,
  &:active,
  &:focus{
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.block{
  border: 1px solid #666;
}    

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 25px;
  font-size: 1.1em;
  transition: all .4s ease;

  &.btn__green {
    color: @accent;
    background-color: transparent;
    border: 2px solid @accent;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;

    &:hover {
      color: @white;
      background-color: @accent;
    }
  }
}

/*header-top
=======================================*/ 
.header-top {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 0;
  width: 100%;
  background: @white;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);

  .logo {
    @media screen and (max-width: @lg) {
       margin-bottom: 30px; 
       text-align: left;      
    }    
  }

  .col-xs-8 {
    @media screen and (max-width: 580px) {
       width: 100%;       
    }    
  }

  .col-xs-4 {
    @media screen and (max-width: 580px) {
       width: 100%;      
    }    
  }

  
  /*menu
  =======================================*/ 
  .menu {
    @media screen and (max-width: @lg) {
       text-align: left;     
    }    

    li {
      display: inline-block;
      vertical-align: top;
      height: 50px;
      line-height: 50px;
    }

    a{
      display: block;
      padding: 0 10px;
      color: inherit;
      transition: all .4s ease;

      &:hover{
        text-decoration: none;
        color: @accent;
      }
    }
  }

  /*header-top_right
  =======================================*/ 
  &_right {
    text-align: right;

    .btn {
      @media screen and (max-width: 480px) {
         font-size: .8em;
      } 
    }
  }

  /*phone
  =======================================*/ 
  .phone,
  .request {
    display: inline-block;
    vertical-align: middle;
  }

  .phone {
    margin-right: 16px;
    margin-top: -4px;
    font-weight: bold;

    span {
      font-weight: normal;
      color: @accent;
    }
  }

  .request {
    margin-top: -3px;
  }

}

/*header-main
=======================================*/ 
.header-main.index{
  position: relative;
  padding-top: 117px;
  min-height: 570px;
  background-image: url(../i/header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media screen and (max-width: @md) {
     min-height: 670px;    
  }

  @media screen and (max-width: 590px) {
     min-height: 870px;    
  }    

  @media screen and (max-width: 480px) {
     min-height: 970px;    
  }    
}

/*header-promo
=======================================*/ 
.header-promo {
  position: absolute;
  top: 58%;
  left: 50%;
  padding: 50px;
  width: 900px;
  text-align: center;
  background: @white;
  transform: translate(-50%,-50%);

  @media screen and (max-width: @lg) {
     top: 68%;     
  }    

  @media screen and (max-width: @md) {
    top: 64%;
    width: 80vw;
  }    

  h1 {
    margin-top: 0;
    margin-bottom: 20px;

    @media screen and (max-width: 480px) {
       font-size: 2em;     
    }    

    @media screen and (max-width: 480px) {
     font-size: 1.8em;
  }    
  }

  p {
    font-size: 1.3rem;
  }
}

/*prices-layout
=======================================*/ 
.prices-layout {
  padding: 50px 0;
  text-align: center;
}

/*filters-block
=======================================*/ 
.filters-block {
  margin-bottom: 40px;
  text-align: center;

  &__item {
    display: inline-block;
    margin: 40px 20px 20px; 
    padding-bottom: 16px;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
    transition: all .4s ease;

    &:hover {
      border-bottom-color: @accent;

      label::before {
        border-color: @accent;
      }
    }
  }

  input {
    display: none;
  }

  label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      border: 2px solid #ccc;
      transition: all .5s ease;
    }

    .fa {
      position: absolute;
      top: 3px;
      left: 3px;
      opacity: 0;
      color: green;
      transition: all .5s ease;
    }
  }
  
  input:checked + label {
    &::before {
      border-color: @accent;
    }

    .fa {
      opacity: 1;
    }
  }
}
/*filters-block
=======================================*/ 

/*layouts
=======================================*/ 
.layouts {
  &__item {
    margin-bottom: 30px;
    padding: 20px;
    padding-top: 36px;
    text-align: left;
    border: 2px solid #eeeeee;
    transition: all .4s ease;

    &:hover {
      box-shadow: 0 4px 25px rgba(0,0,0,.2);
      border-color: @accent;
    }

    @media screen and (max-width: @sm) {
      margin: 0 auto 30px;
      max-width: 460px;     
    }    

    .img-wrap {
      height: 200px;
    }

    img {
      display: table;
      margin: 0 auto 36px;
    }

    h4 {
      a {
        font-size: 1.1rem;
        font-weight: normal;
        text-decoration: underline;
        color: @accent;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  /*layouts-data
  =======================================*/ 
  &__data {
    margin-bottom: 20px;
    
    &-item {
      display: inline-block;
      vertical-align: top;
      margin-right: 18px;

      span {
        font-size: .8rem;
        color: #aaa;
      }

      strong {
        font-size: .95rem;
      }
    }
  }

  /*layouts__price
  =======================================*/ 
  &__price {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

}

/*layouts
=======================================*/ 

/*about
=======================================*/ 
.about {
  padding-top: 60px;
  background-color: #f8f8f8;
  background: url("../i/about-bg.jpg") no-repeat top right;

  &__content {
    position: relative;

    @media screen and (max-width: @md) {
       margin-bottom: 40px;     
    } 
  }

  &__text {
    position: relative;
    padding: 40px;
    .minionProRegular;
    font-size: 1.1rem;
    text-align: left;
    background: @white;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
    z-index: 20;
  }

  &__greenline {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 80%;
    height: 90%;
    border: 5px solid @accent;
    z-index: 1;
  }
  

  /*about__features
  =======================================*/ 
  .about__features {
    &-item {
      vertical-align: top;
      margin-bottom: 20px;
      padding: 20px 15px;
      height: 184px;
      text-align: center;
      background: #fff;

      &:nth-child(3n) {
        margin-right: 0;
      }

      h4 {
        font-size: .8rem;
      }
    }

    .img-wrap {
      margin-bottom: 20px;
    }

    .icon {
      font-size: 60px;
      color: @accent;
      transition: all .4s ease;

      &:hover {
        color: #dede11;
      }
    }
  }
}
/*about
=======================================*/ 

/*contacts
=======================================*/ 
.contacts {
  min-height: 550px;
  background: url("../i/contacts-bg.jpg") no-repeat top right;
  h2 {
    margin-bottom: 25px;
    margin-top: 40px;
  }

  ul {
    margin-bottom: 40px;

    li {
      line-height: 45px;
      font-weight: bold;
    }

    .icon {
      position: relative;
      top: 8px;
      display: inline-block;
      margin-right: 15px;
      font-size: 30px;
      color: @accent;
    }
  }

  h3 {
    font-size: 20px;
  }

  .place {
    margin-bottom: 40px;
    padding-left: 48px;
    font-weight: bold;

    .fa {
      position: relative;
      top: 8px;
      display: inline-block;
      margin-right: 30px;
      font-size: 40px;
      font-weight: normal;
      color: @accent;
    }

    p {
      line-height: 30px;
    }
  }

  .btn {
    margin-left: 116px;
    margin-bottom: 60px;
  }
}

/*contacts
=======================================*/ 
.video {
  padding-bottom: 60px;
  background: url("../i/video-bg.jpg") no-repeat center;
  background-size: cover;
  .video-wrap {
    margin: auto;
    max-width: 770px;
  }
}


/*video
=======================================*/ 
.myvideo {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height: 0;
  overflow:hidden;
  border:1px solid #ccc;
}
.myvideo iframe,.myvideo object,.myvideo embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
/*video
=======================================*/ 

/*slider-index
=======================================*/ 
.slider-index {
  margin: 0 auto;
  max-width: 1170px;
}

.slider-index-small-wrap {
  position: relative;
  margin: 0 auto 60px;
  max-width: 1170px;
  cursor: pointer;

  .img-wrap {
    padding: 0 10px;
  }

  .slick-right,
  .slick-left {
    position: absolute;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
    color: #222;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .4s ease;

    @media screen and (max-width: 790px) {
       display: none!important;     
    }    

    &:hover {
      color: @accent;
    }
  }

  .slick-left {
    left: -30px;
  }

  .slick-right {
    right: -30px;
    transform: translateY(-50%) rotate(180deg);
  }

  .buttons {
    font-size: 30px;
    color: red;
  }
}

/*slider-index
=======================================*/ 
























