@import "../../../bower_components/normalize-less/normalize.less";
@import (less) "../libs/bootstrap/css/bootstrap.min.css";
@import "partials/variables.less";
@import "partials/mixins.less";
@import "partials/fonts.less";

html,
body {
  font-size: 15px;
}

body {
  font-size: 1rem;
  text-align: center;
  .latoRegular;
  color: @text-color;
  background: @white;
}

h1 {
  .lato-Heavy;
  font-size: 2.5em;
}

h2 {
  .lato-Heavy;
  font-size: 2.1em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a{
  &:hover,
  &:active,
  &:focus{
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.block{
  border: 1px solid #666;
}    

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 25px;
  font-size: 1.1em;
  transition: all .4s ease;

  &.btn__green {
    color: @accent;
    background-color: transparent;
    border: 2px solid @accent;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;

    &:hover {
      color: @white;
      background-color: @accent;
    }
  }
}

/*header-top
=======================================*/ 
.header-top {
  padding: 30px 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);

  .logo {
    @media screen and (max-width: @lg) {
       margin-bottom: 30px;       
    }    
  }

  .col-xs-8 {
    @media screen and (max-width: 580px) {
       width: 100%;       
    }    
  }

  .col-xs-4 {
    @media screen and (max-width: 580px) {
       width: 100%;      
    }    
  }

  
  /*menu
  =======================================*/ 
  .menu {
    @media screen and (max-width: @lg) {
       text-align: left;     
    }    

    li {
      display: inline-block;
      vertical-align: top;
      height: 50px;
      line-height: 50px;
    }

    a{
      display: block;
      padding: 0 10px;
      color: inherit;
      transition: all .4s ease;

      &:hover{
        text-decoration: none;
        color: @accent;
      }
    }
  }

  /*header-top_right
  =======================================*/ 
  &_right {
    text-align: right;

    .btn {
      @media screen and (max-width: 480px) {
         font-size: .8em;
      } 
    }
  }

  /*phone
  =======================================*/ 
  .phone,
  .request {
    display: inline-block;
    vertical-align: middle;
  }

  .phone {
    margin-right: 16px;
    margin-top: -4px;
    font-weight: bold;

    span {
      font-weight: normal;
      color: @accent;
    }
  }

  .request {
    margin-top: -3px;
  }

}


