@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3ead07');
  src:  url('../fonts/icomoon.eot?3ead07#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3ead07') format('truetype'),
    url('../fonts/icomoon.woff?3ead07') format('woff'),
    url('../fonts/icomoon.svg?3ead07#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-avatar:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-brick:before {
  content: "\e902";
}
.icon-brickwall:before {
  content: "\e903";
}
.icon-building:before {
  content: "\e904";
}
.icon-calendar-(3):before {
  content: "\e905";
}
.icon-cancel:before {
  content: "\e906";
}
.icon-coins:before {
  content: "\e907";
}
.icon-five-stars-outlines:before {
  content: "\e908";
}
.icon-gateway:before {
  content: "\e909";
}
.icon-house:before {
  content: "\e90a";
}
.icon-mall:before {
  content: "\e90b";
}
.icon-maps-and-flags:before {
  content: "\e90c";
}
.icon-network:before {
  content: "\e90d";
}
.icon-paint-roller:before {
  content: "\e90e";
}
.icon-paris-transport-metro-logo:before {
  content: "\e90f";
}
.icon-parking:before {
  content: "\e910";
}
.icon-pdf:before {
  content: "\e911";
}
.icon-percentage:before {
  content: "\e912";
}
.icon-placeholder:before {
  content: "\e913";
}
.icon-right-arrow:before {
  content: "\e914";
}
.icon-telephone:before {
  content: "\e915";
}
